# =====================================================================
# Byte-compiled / optimized / DLL files
# =====================================================================
__pycache__/
*.py[cod]
*$py.class

# =====================================================================
# Virtual Environments & Packages
# =====================================================================
.venv/
venv/
ENV/
env/
.uv/

# =====================================================================
# Jupyter Notebook Checkpoints & Playgrounds
# =====================================================================
.ipynb_checkpoints/

# =====================================================================
# IDE Configurations
# =====================================================================
.vscode/
.idea/

# =====================================================================
# MLOps Pipeline State & Artifact Isolation
# =====================================================================
# Block mutating tracking database binary and filesystem artifacts
mlflow.db
mlruns/

# Block large raw datasets to prevent repository bloating
project-1-credit-card-fraud/data/*.csv
project-1-credit-card-fraud/data/*.zip
project-1-credit-card-fraud/data/*.parquet

# ABSOLUTE SECURITY: Force-block private authentication API tokens
project-1-credit-card-fraud/data/kaggle.json